project_SHA3-32bit/0001_reference/Raw/*
project_SHA3-32bit/0001_reference/Code_reference/Raw*
Raw*
*.npy
*.txt
*.pyc
/project_SHA3-32bit/0003_training/Raw/*
/project_SHA3-32bit/0003_training/Processed_HDF5/*
*.zip
*.hdf5
/traces
tmp_*
.env*
!project_SHA3-32bit/pipeline_runner/envs/.env_*
project_SHA3-32bit/0004_validation/template_validation_bytes/quality_report
/logs